<!-- <h1>{{title}}</h1>
<p>{{ 1 + 1 }}</p>

<img [src]="imgUrl" alt="">

<button disabled="{{ isDisabled }}">disable button string interpolation</button>
<button [disabled]="isDisabled">disable button using property data binding</button> -->

<!-- class binding -->
 <!-- <button 
 [class.active]="isActive" 
 [class.no-active]="!isActive"
 [class.active-border]="isActive" 
 [class.no-active-border]="!isActive"
 
 > Click Me </button> -->

 <!-- style binding -->
  <!-- <button [class.apple] = " fruitName == 'Apple' ">Fruit ninja</button> -->

<!-- style binding -->
   <!-- <button [style.backgroundColor]=" isActive ? 'red' : 'green'"
   [style.border]="isActive ? '3px solid yellow' : '' "
   ></button>

   <button [class.active]="isActive">Class Binding</button> -->

<!-- Event Binding -->
<!-- <button (mouseover)="buttonClick()">Click me</button>
<input type="text" (keyup)="keyEnter($event)"> -->

<!-- <input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput"> -->

<!-- <input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)"> -->

<!-- <input type="text" [(ngModel)]="userName"/>

<h3>{{userName}}</h3> -->

<!-- <input type="text" [value]="textValue" (keyup.enter)="onKeyup()"/> -->

<!-- <input type="text" [(ngModel)]="textValue" (keyup.enter)="onKeyup()"/> -->


<!-- <app-navbar></app-navbar>
<app-header></app-header> -->

<!-- directives -->
<!-- <h2 *ngIf="isLoggedIn; else message">{{ userName }}</h2>

<h4 *ngIf="!isLoggedIn">User is not logged in</h4>

<ng-template #message>
   <h4>User is not logged in (loaded useing ng-template)</h4>
</ng-template>

@if (isLoggedIn) {
   <h3>{{ userName }}</h3>
}

@else {
   <h4>User is not logged in (loaded using else syntax block)</h4>
}

@if (!isLoggedIn) {
   <h4>User is not logged in (loaded using if syntax block)</h4>
} -->

<!-- Multiple conditions -->
 <!-- <h4 *ngIf="isAdmin">Welcome Admin</h4>
 <h4 *ngIf="isMember">Welcome Member</h4>
 <h4 *ngIf="isGuest">Welcome Guest</h4> -->
<!-- ngIf else approach -->
 <!-- <h4 *ngIf="isAdmin; else memberMessage">Welcome Admin</h4>

 <ng-template #memberMessage>
   <h4 *ngIf="isMember; else guestMessage">Welcome Member</h4>
 </ng-template>
 <ng-template #guestMessage>
   <h4>Welcome Guest</h4>
 </ng-template> -->


 <!-- @if @else syntach approach -->
  <!-- @if (isAdmin) {
    <h4>Welcome Admin</h4>
  }
  @else if (isMember) {
    <h4>Welcome Member</h4>
  }
  @else if (isGuest) {
   <h4>Welcome Guest</h4>
 } -->

 <!-- if directive number values -->

 <!-- <button (click)="countLoginAttempts()" *ngIf="loginCount < 4">Log In</button>

 <h4 *ngIf="loginCount > 3">Exceed 3 login attempts try again later</h4>

 @if (loginCount < 3) {
 <button (click)="countLoginAttempts()">Login Syntax</button>
 }

 @if (loginCount > 3) {
   <h4>Exceed 3 login attempts try again later</h4>
 } -->

  <!-- if directive with string values -->

  <!-- <h4 *ngIf="userRole ==='Admin'; else memberMessage">Welcome Admin</h4>

  <ng-template #memberMessage>
   <h4>Welcome Member</h4>
  </ng-template>

  @if (userRole == 'Admin') {
   <h4>Welcome Admin</h4>
  }
   @else if (userRole == 'Member') {
      <h4>Welcome Member</h4>
   }
   -->

   <!-- ng template -->

   <!-- <h4 *ngIf="userRole ==='Admin'; else dynamicTemplate">Welcome Admin</h4>

   <ng-template #dynamicTemplate>
      <p>This content is inside ng-template</p>
   </ng-template>

   <ng-template #callToAction>
      <p>Call to action</p>
      <button>Join now</button>
   </ng-template>

   <div [ngTemplateOutlet]="callToAction">
      <h5>Sidebar</h5>
   </div>
   <div [ngTemplateOutlet]="callToAction">
      <h5>Hero</h5>
   </div>
   <div [ngTemplateOutlet]="callToAction">
      <h5>Footer</h5>
   </div> -->

   <!-- ng for directive -->

   <!-- <h3>{{users}}</h3>

   <h3>{{users[0]}}</h3>
   <h3>{{users[1]}}</h3>
   <h3>{{users[2]}}</h3>
   <h3>{{users[3]}}</h3>

   <h3 *ngFor="let user of users">{{user}}</h3>

   <p>For syntax approach</p>
   @for(user of users; track user) {
      <h3>{{user}} - Loaded using for syntax block</h3>
   } -->
<!-- 
   <ul *ngFor="let user of users">
      <li>{{user}}</li>
   </ul>

   <ul>
      @for (user of users; track user) {
            <li>{{user}}</li>
      }
   </ul> -->

   <!-- <ul>
      <li *ngFor="let user of usersObj">{{user.email}}</li>
   </ul> -->

   <!-- fetch array object -->

   <!-- <div *ngIf="usersObj.length === 0">
      <p>No users to Display</p>
   </div> -->


   <!-- <ul>
      <li *ngFor="let user of usersObj; let i = index; let usersCount = count">
         {{usersCount}} - {{i}} {{user.name}} 
         <button (click)="onDelete(i)">Delete</button>
         <p *ngIf="usersCount == 0">No users to Display</p>
      </li>
   </ul>

   <ul>

      @if (usersObj.length == 0) {
         <p>No users to Display - Loaded useing syntax</p>
      }


      @for (user of usersObj; track user; let i = $index; let usersCount = $count; let first = $first; let last = $last; let even = $even; let odd = $odd) {
         <li>
            {{odd}} - {{even}} - {{last}} - {{first}} - {{usersCount}} {{i}} {{user.name}} 
            <button (click)="onDelete(i)">Delete</button>
         </li>
      }

      @empty {
         <p>No users to Display - Loaded useing empty syntax block</p>
      }
   </ul>

   change detection -->
    <!-- <button (click)="addNewUser()">Add new user</button> -->

    <!-- <div [ngSwitch]="usersRole">
      <p *ngSwitchCase="'Admin'">Welcome Admin</p>
      <p *ngSwitchCase="'Member'">Welcome Member</p>
      <p *ngSwitchCase="'Editor'">Welcome Editor</p>
      <p *ngSwitchDefault>Please Login</p>
    </div> -->

    <!-- @switch(usersRole) {
      @case ('Admin') {
         <p>Welcome Admin</p>
      }
      @case ('Member') {
         <p>Welcome Member</p>
      }
      @default {
         <p>Please Login</p>
      }
    } -->

    <!-- <h1 [style.color]="isLoggedIn ? 'green' : 'red'" [style.textTransform]="isLoggedIn ? 'uppercase' : 'lowercase'">Welcome Admin</h1>

    <h1 [ngStyle]="{
       'color': isLoggedIn ? 'green' : 'red',
       'textTransform': isLoggedIn ? 'uppercase' : 'lowercase'
    }">Ng style directive</h1> -->


<!-- ngClass -->
 <!-- <h1 [class.login]="isLoggedIn" [class.logout]="!isLoggedIn">Class Binding</h1>

 <h1 [ngClass]="{ 
   'login': isLoggedIn,
   'logout': !isLoggedIn,
}">Ng class directive</h1> -->

<!-- <app-header></app-header> -->
<!-- <app-navbar></app-navbar> -->
 <!-- <h1>{{appPostTitle}} (App)</h1>
<app-posts-list [postListTitle]="appPostTitle" [postIsLogin]="appIsLogin"></app-posts-list> -->

<!-- <app-posts-list></app-posts-list> -->

<!-- <p>{{ childMessage.childMessage }}</p> -->
<!-- <app-posts-list (MessageEvent)="reciveMessage($event)"></app-posts-list> -->
<!-- <p>{{ message }}</p>

<p>{{ messageFromChild }}</p> -->


<!-- <app-card>
   <span header>username</span>
   <h1 body>John Doe</h1>
   <button footer>View Profile</button>
</app-card> -->

<!-- <app-posts-list></app-posts-list> -->

<!-- <div *ngComponentOutlet="loadComponent()"></div> -->

<!-- <button (click)="loadComponent()">Create Component</button>
<button (click)="removeComponent()">Remove Component</button> -->

<app-profile [pUserName]="userName"></app-profile>
<button (click)="changeUser()">Change user name</button>