<!-- <h1>{{title}}</h1>
<p>{{ 1 + 1 }}</p>

<img [src]="imgUrl" alt="">

<button disabled="{{ isDisabled }}">disable button string interpolation</button>
<button [disabled]="isDisabled">disable button using property data binding</button> -->

<!-- class binding -->
 <!-- <button 
 [class.active]="isActive" 
 [class.no-active]="!isActive"
 [class.active-border]="isActive" 
 [class.no-active-border]="!isActive"
 
 > Click Me </button> -->

 <!-- style binding -->
  <!-- <button [class.apple] = " fruitName == 'Apple' ">Fruit ninja</button> -->

<!-- style binding -->
   <!-- <button [style.backgroundColor]=" isActive ? 'red' : 'green'"
   [style.border]="isActive ? '3px solid yellow' : '' "
   ></button>

   <button [class.active]="isActive">Class Binding</button> -->

<!-- Event Binding -->
<!-- <button (mouseover)="buttonClick()">Click me</button>
<input type="text" (keyup)="keyEnter($event)"> -->

<!-- <input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput"> -->

<!-- <input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)"> -->

<!-- <input type="text" [(ngModel)]="userName"/>

<h3>{{userName}}</h3> -->

<!-- <input type="text" [value]="textValue" (keyup.enter)="onKeyup()"/> -->

<!-- <input type="text" [(ngModel)]="textValue" (keyup.enter)="onKeyup()"/> -->


<!-- <app-navbar></app-navbar>
<app-header></app-header> -->

<!-- directives -->
<!-- <h2 *ngIf="isLoggedIn; else message">{{ userName }}</h2>

<h4 *ngIf="!isLoggedIn">User is not logged in</h4>

<ng-template #message>
   <h4>User is not logged in (loaded useing ng-template)</h4>
</ng-template>

@if (isLoggedIn) {
   <h3>{{ userName }}</h3>
}

@else {
   <h4>User is not logged in (loaded using else syntax block)</h4>
}

@if (!isLoggedIn) {
   <h4>User is not logged in (loaded using if syntax block)</h4>
} -->

<!-- Multiple conditions -->
 <h4 *ngIf="isAdmin">Welcome Admin</h4>
 <h4 *ngIf="isMember">Welcome Member</h4>
 <h4 *ngIf="isGuest">Welcome Guest</h4>

